/* Layout base */
.page {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #000f2a;
    top: env(safe-area-inset-top, 0);
    left: 0;
    right: 0;
    height: calc(100dvh - env(safe-area-inset-top, 0));
}

.middle {
    flex: 1;
    display: flex;
    min-height: 0;
}

/* Sidebar à esquerda em ecrãs grandes */
.sidebar {
    width: 220px;
    background: #000f2a;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden; /* Esconde o conteúdo quando colapsado */
    text-wrap-mode:nowrap;
    transition: all 0.3s ease; /* animação */
}

.navbar-brand {
    padding-top: 10px;
    padding-right: 10px;
}

/* Main ocupa o resto */
.main {
    flex: 1;
    min-width: 0; /* ESSENCIAL */
    display: flex;
    flex-direction: column;
    background: #fff;
}

/* Barra de menus fixa dentro do main */
.menu-bar {
    height: 50px;
    background: #eee;
    box-sizing: border-box;
    padding: 4px 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Conteúdo com scroll vertical */
.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
}

/* Footer global no fundo da página */
.footer {
    background: #eee;
    padding: 4px;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 0.75rem;
    color: #808080;
    text-align: center;
    border-top: 1px solid #ccc;
}

.nav-item {
    font-size: 1rem;
}

    .nav-item:first-of-type {
        /*padding-top: 1px;*/
    }

    .nav-item:last-of-type {
        padding-bottom: 1px;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        padding: 4px 17px;
        /*border-radius: 4px;*/
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255,255,255,0.37);
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

    .nav-item ::deep .nav-item-text {
        margin-left: 0.8rem;
    }

/* ----------------------------- */
/* Botão de menu (mobile only)   */
/* ----------------------------- */
.menu-toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #000f2a;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    outline: none;
    z-index: 30;
}

    .menu-toggle:focus {
        outline-color: inherit;
        outline-style: dashed;
        outline-width: 1px;
        outline-offset: -1px;
    }
    
@media (max-width: 768px) {

    .sidebar {
        margin-top: 51px;
        width: 50px;
    }
        .sidebar.open {
            width: 220px;
        }
        .sidebar:not(.open) .nav-item ::deep .nav-item-text {
            display: none;
        }

    .navbar-brand {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }
}

@media (max-width: 640px) {
    .middle {
        flex-direction: column;
        min-height: 0;
    }

    .main {
        min-height: 0;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: -1px;
        bottom: 27px;
        transform: translateX(-100%); /* escondida */
        z-index: 30;
    }

        .sidebar.open {
            left: 0;
            transform: translateX(0); /* visível */
        }

    .menu-toggle {
        background: #eee;
        color: black;
    }

        .menu-toggle.open {
            background: #ccc;
        }
}



#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
