@page "/"
@inject IDrawStorage DrawStorage

<PageTitle>Bem-vindo</PageTitle>

<div class="home-container">

    <section class="welcome pb-3">
        <h1>Bem-vindo</h1>
        <p>
            O DreamNumbers é um projeto open-source dedicado à análise inteligente
            dos resultados do EuroDreams.
            Aqui podes explorar estatísticas,
            acompanhar tendências e descobrir padrões interessantes nos sorteios.
        </p>
        <div class="alert alert-info">
            Navega pelo menu para acessar as diferentes funcionalidades, como o histórico de sorteios, estatísticas detalhadas e o simulador de combinações.
        </div>
    </section>

    <section class="latest-draw pb-3">
        <h4>Último sorteio</h4>
        <p>Confere aqui a chave do último sorteio do EuroDreams.</p>
        <LastDrawCard Draw="@lastDraw" />
    </section>

</div>

@code {
    private Draw? lastDraw;

    protected override async Task OnInitializedAsync()
    {
        lastDraw = await DrawStorage.GetLastDrawAsync();
    }
}
