@page "/simulation"

<PageTitle>Simulador</PageTitle>

<h3>Simulador de Combinações</h3>
<p>
    Configure as estratégias e perfis para gerar combinações de números do EuroDreams. Experimente diferentes abordagens para encontrar a que melhor se encaixa no seu estilo de jogo.
</p>

<div class="card p-3 mb-4">
    <StrategyProfileSelector />
    <GenerationPresetSelector />

    <button class="btn btn-primary" @onclick="RunSimulation">
        Gerar Combinações
    </button>

</div>

@if (result != null)
{
    <SimulationResultView Result="result" />
}
